html {
    font-family: sans-serif;
    font-size: 17px;
    background-image: url("images/background.1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.pageTitle {
text-align: center;
font-size: 60px;
}

a { color: black;
    font-weight: bold;

}


