html {
  background-image: url(./images/image-from-rawpixel-id-490211-jpeg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.topnav {
  background-color: none;
  overflow: hidden;
}
.topnav a {
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: rebeccapurple;
  color: black;
}
.pic {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.pageTitle {
  text-align: center;
  font-size: 60px;
  color: white;
}

.AboutMe {
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
  color: white;
}

.AboutMeContent {
  font-size: 18px;
  color: white;
  text-align: center;
}

.TechSkills {
  padding-left: 55%;
  text-decoration: underline;
  font-size: 25px;
  text-align: left;
  color: white;
}

.TechSkillsContent {
  padding-left: 55%;
  font: 18px;
  color: white;
  text-align: left;
  list-style: none;
}

.ProfSkills {
  padding-left: 17%;
  text-decoration: underline;
  font-size: 25px;
  text-align: left;
  color: white;
}

.ProfSkillsContent {
  padding-left: 17%;
  font: 18px;
  color: white;
  text-align: left;
  list-style: none;
}

.Projects {
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
  color: white;
}

* {
  box-sizing: border-box;
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

.row,
.row > .column {
  padding: 13px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  color: white;
  background-color: transparent;
  padding-left: 20px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.Education {
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
  color: white;
}

.Goals {
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
  color: white;
}

.GoalsContent {
  font-size: 18px;
  text-align: center;
  color: white;
}

.EducationContent {
  font-size: 18px;
  text-align: center;
  color: white;
}

a {
  color: white;
  font-weight: bold;
}
